@charset "UTF-8";
body{}
h1{text-align: center;}

h2{text-align: left;}

p{text-align: justify;}
         
/* homem e mulher legenda*/
figure.foto-legenda {
    overflow: hidden;
    width: 900px;
    height: auto;
}

figure.foto-legenda { /* usado para alinhar a imagem ao centro */
    display: block;
    margin: 0% auto;
}

figure.foto-legenda img { /* usado para colocar a imagem dentro de uma conteiner, e ajustar ela em auto */
    width: 100%;
    height: auto;
    display: block;
}
/*glass head*/